LightningFlowsModel/force-app/main/default/flows/Update_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Weather_Info</name>
        <label>Get Weather Info</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>OSF_WeatherReader</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account_Shipping_Address_and_Weather_Info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountBillingCity</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Description</assignToReference>
            <name>description</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Humidity__c</assignToReference>
            <name>humidity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Icon__c</assignToReference>
            <name>icon</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Real_Feeling__c</assignToReference>
            <name>real_Feeling</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Temperature__c</assignToReference>
            <name>temperature</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Shipping_Address</name>
        <label>Assign Shipping Address</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Weather_Info</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Shipping_Address_and_Weather_Info</name>
        <label>Update Account Shipping Address and Weather Info</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Enter_Shipping_Address</name>
        <label>Enter Shipping Address</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Shipping_Address</targetReference>
        </connector>
        <fields>
            <name>Shipping_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>Get_Account.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WeatherResult</name>
        <apexClass>01p7R000008TFlb__NotFound</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
