LightningFlowsModel/force-app/main/default/flows/Update_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Weather_Info</name>
        <label>Get Weather Info</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>OSF_WeatherReader</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account_Shipping_Address_and_Weather_Info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountBillingCity</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Description</assignToReference>
            <name>description</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Humidity__c</assignToReference>
            <name>humidity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Icon__c</assignToReference>
            <name>icon</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Real_Feeling__c</assignToReference>
            <name>real_Feeling</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Account.Temperature__c</assignToReference>
            <name>temperature</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Shipping_Address</name>
        <label>Assign Shipping Address</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_city_is_NULL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_city_is_NULL</name>
        <label>Billing city is NULL?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Weather_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_city_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_city_Null_Scearn</targetReference>
            </connector>
            <label>Billing city null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Shipping_Address_and_Weather_Info</name>
        <label>Update Account Shipping Address and Weather Info</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Weather_Info_Screen_0</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Billing_city_Null_Scearn</name>
        <label>Billing city Null Scearn</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Shipping_Address</targetReference>
        </connector>
        <fields>
            <name>Billing_City_Null_Text</name>
            <fieldText>&lt;p&gt;The &lt;strong style=&quot;color: rgb(228, 9, 9);&quot;&gt;Billing City IS NULL&lt;/strong&gt;. Only the Shipping Address will be saved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Shipping_Address</name>
        <label>Enter Shipping Address</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Shipping_Address</targetReference>
        </connector>
        <fields>
            <name>Shipping_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>Get_Account.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Weather_Info_Screen_0</name>
        <label>Weather Info Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Retrieved_Weather_Info_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Weather info f&lt;/span&gt;or {!Get_Account.BillingCity}:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Description: {!Get_Account.Description}&lt;/li&gt;&lt;li&gt;Temperature: {!Get_Account.Temperature__c}&lt;/li&gt;&lt;li&gt;Feal like {!Get_Account.Real_Feeling__c}&lt;/li&gt;&lt;li&gt;Humidity: {!Get_Account.Humidity__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WeatherResult</name>
        <apexClass>OSF_WeatherReaderResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
